In [43]:
import pandas as pd
import numpy as np

In [67]:
df=pd.read_csv('budget_data.csv')

df1 = pd.DataFrame(df)
df1.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [68]:
df1.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [69]:
#change
change = df1['Profit/Losses'].diff()
change.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64

In [72]:
#avg change
avg_change = change.mean()
avg_change

-2315.1176470588234

In [4]:
#months
total_months = len(df1['Date'].unique())
total_months

86

In [110]:
#sum
total_amount = df1['Profit/Losses'].sum()
total_amount

38382578

In [107]:
#profit
def profit():
    return df1.iloc[profit_index]['Date'], df1['Profit/Losses'].max()
print(profit())

('Feb-2012', 1170593)

In [120]:
print(df1.iloc[profit_index]['Date'], df1['Profit/Losses'].max())

Feb-2012 1170593

In [109]:
#losses
def loss():
    return df1.iloc[loss_index]['Date'], df1['Profit/Losses'].min()
print(loss())

('Sep-2013', -1196225)

In [118]:
profit_index = (df1['Profit/Losses'].idxmax())
profit_index

25

In [108]:
loss_index = (df1['Profit/Losses'].idxmin())
loss_index

44

In [92]:
#FINALLY GOT IT
#NOW NEED TO USE MAX'S INDEX INSTEAD OF "2"
new = df1.iloc[profit_index]['Date']
new

'Feb-2012'

In [5]:
loss = df1['Profit/Losses'].min()
loss

-1196225

In [79]:
profit = df1['Profit/Losses'].max()
profit

1170593

In [16]:
max = np.argmax(df1['Profit/Losses'])
max

0

In [13]:
df2 = df1.iloc[max]
df2

Date              Feb-12
Profit/Losses    1170593
Name: 0, dtype: object

In [14]:
df1['newcol'] = df1.apply(
    lambda x: x['Profit/Losses']*4,axis = 1)

In [15]:
df1.head()

     Date  Profit/Losses   newcol
0  Feb-12        1170593  4682372
1  Sep-14        1166643  4666572
2  Apr-12        1151518  4606072
3  Dec-13        1150461  4601844
4  Jan-15        1139715  4558860

In [103]:
df1['newcol2'] = df1.apply(
    lambda x: x['Profit/Losses'] + x['newcol']/10,axis = 1)

In [104]:
df1.head()

     Date  Profit/Losses   newcol    newcol2
0  Feb-12        1170593  9364744  2107067.4
1  Sep-14        1166643  9333144  2099957.4
2  Apr-12        1151518  9212144  2072732.4
3  Dec-13        1150461  9203688  2070829.8
4  Jan-15        1139715  9117720  2051487.0

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
df1.to_csv("fileOne.csv", index=False, header=True)